.mobile-view{
  @media (min-width: 821px) {
    display: none;
  }
}

.mobile-dashboard{
  max-width: 100%;
  background-color: $primary;
  font-size: 11px;
  color: #ffffff;

  .header-dashboard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid $gray;
    .dashboard-text{
      font-size: 14px;
      text-align: right;
      color: $positive;
    }
    .icon-row{
      border-radius: 50%;
      border: 1px solid $gray;
      padding: 8px;
      background-color: $main;
    }
    .diamond-icon{
      width: 40px;
      height: 40px;
    }
  }

  .body-dashboard{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 14px;
  }

}
